<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="6.0">
  <display-name>backWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>servlet01</display-name>
    <servlet-name>servlet01</servlet-name>
    <servlet-class>backWeb.A01_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet01</servlet-name>
    <url-pattern>/servlet01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet2</display-name>
    <servlet-name>servlet2</servlet-name>
    <servlet-class>backWeb.A02_Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet2</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>htmlRendering</display-name>
    <servlet-name>htmlRendering</servlet-name>
    <servlet-class>backWeb.A03_Servlet_html</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>htmlRendering</servlet-name>
    <url-pattern>/htmlRendering</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_html</display-name>
    <servlet-name>Servlet_html</servlet-name>
    <servlet-class>backWeb.A04_Servlet_html</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_html</servlet-name>
    <url-pattern>/Servlet_html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>A06_CodeInsert</display-name>
    <servlet-name>A06_CodeInsert</servlet-name>
    <servlet-class>backWeb.a01_servlet.A06_CodeInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A06_CodeInsert</servlet-name>
    <url-pattern>/A06_CodeInsert</url-pattern>
  </servlet-mapping>
</web-app>